First let's load up some basic files

In [16]:
import pandas as pd
import numpy as np

Now let's load up our base coffee data

In [17]:
coffee_df = pd.read_csv('../data/coffee.csv')

Creating a copy of the original

In [18]:
coffee = coffee_df.copy()

In [19]:
coffee.head()

,Country_of_Origin,Processing_Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean_Cup,Sweetness,Cupper_Points,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Ethiopia,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,1950.0,2200.0,2075.0
1,Ethiopia,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0
2,Guatemala,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,1600.0,1800.0,1700.0
3,Ethiopia,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,1800.0,2200.0,2000.0
4,Ethiopia,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0

Grouping Countries Together

In [20]:
coffee['Country_of_Origin'].replace(['Peru','Colombia'], 'NW South America', inplace=True)

In [21]:
coffee['Country_of_Origin'].replace(['Ethiopia','Tanzania, United Republic Of','Uganda','Malawi','Kenya' ], 'East Africa', inplace=True)

In [22]:
coffee['Country_of_Origin'].replace(['Guatemala','Honduras','Costa Rica','Nicaragua','El Salvador' ], 'Central America', inplace=True)

In [23]:
print(coffee.Country_of_Origin.value_counts())
print()

Central America           331
Mexico                    236
NW South America          193
East Africa               146
Brazil                    132
Taiwan                     75
United States (Hawaii)     73
Thailand                   32
Indonesia                  20
China                      16
Name: Country_of_Origin, dtype: int64

Saving the file.

In [24]:
coffee.to_csv('../data/coffee_grouped.csv',index = False)