In [1]:
#first import packages that might be needed
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [4]:
#now import the data
raw_data = pd.read_csv("data/arabica_data_cleaned.csv")

In [5]:
#check the data
raw_data.head(5)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [6]:
#get column names
for col in raw_data.columns:
    print(col)
#alternatively

Unnamed: 0
Species
Owner
Country.of.Origin
Farm.Name
Lot.Number
Mill
ICO.Number
Company
Altitude
Region
Producer
Number.of.Bags
Bag.Weight
In.Country.Partner
Harvest.Year
Grading.Date
Owner.1
Variety
Processing.Method
Aroma
Flavor
Aftertaste
Acidity
Body
Balance
Uniformity
Clean.Cup
Sweetness
Cupper.Points
Total.Cup.Points
Moisture
Category.One.Defects
Quakers
Color
Category.Two.Defects
Expiration
Certification.Body
Certification.Address
Certification.Contact
unit_of_measurement
altitude_low_meters
altitude_high_meters
altitude_mean_meters

In [10]:
#make a new data frame containing columns we need
coffee = raw_data[["Country.of.Origin", "Altitude", "Region", "Harvest.Year", 
                   "Processing.Method", "Aroma", "Flavor", "Aftertaste", 
                   "Acidity", "Body", "Balance", "Uniformity", "Clean.Cup", 
                   "Sweetness", "Cupper.Points", "Total.Cup.Points",
                   "Moisture", "Quakers", "Color", "altitude_low_meters", 
                   "altitude_high_meters", "altitude_mean_meters"]].copy()

In [11]:
#check coffee data frame
coffee.head(5)
#further narrowing down of columns will probably be needed

,Country.of.Origin,Altitude,Region,Harvest.Year,Processing.Method,Aroma,Flavor,Aftertaste,Acidity,Body,...,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Quakers,Color,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Ethiopia,1950-2200,guji-hambela,2014,Washed / Wet,8.67,8.83,8.67,8.75,8.50,...,10.0,10.0,8.75,90.58,0.12,0.0,Green,1950.0,2200.0,2075.0
1,Ethiopia,1950-2200,guji-hambela,2014,Washed / Wet,8.75,8.67,8.50,8.58,8.42,...,10.0,10.0,8.58,89.92,0.12,0.0,Green,1950.0,2200.0,2075.0
2,Guatemala,1600 - 1800 m,NaN,NaN,NaN,8.42,8.50,8.42,8.42,8.33,...,10.0,10.0,9.25,89.75,0.00,0.0,NaN,1600.0,1800.0,1700.0
3,Ethiopia,1800-2200,oromia,2014,Natural / Dry,8.17,8.58,8.42,8.42,8.50,...,10.0,10.0,8.67,89.00,0.11,0.0,Green,1800.0,2200.0,2000.0
4,Ethiopia,1950-2200,guji-hambela,2014,Washed / Wet,8.25,8.50,8.25,8.50,8.42,...,10.0,10.0,8.58,88.83,0.12,0.0,Green,1950.0,2200.0,2075.0

In [13]:
#rename columns to have underscore instead of period
coffee.columns = coffee.columns.str.replace(".", "_")
coffee.head(5)

C:\Users\Cassidy\AppData\Local\Temp/ipykernel_24596/3609485605.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  coffee.columns = coffee.columns.str.replace(".", "_")

,Country_of_Origin,Altitude,Region,Harvest_Year,Processing_Method,Aroma,Flavor,Aftertaste,Acidity,Body,...,Clean_Cup,Sweetness,Cupper_Points,Total_Cup_Points,Moisture,Quakers,Color,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Ethiopia,1950-2200,guji-hambela,2014,Washed / Wet,8.67,8.83,8.67,8.75,8.50,...,10.0,10.0,8.75,90.58,0.12,0.0,Green,1950.0,2200.0,2075.0
1,Ethiopia,1950-2200,guji-hambela,2014,Washed / Wet,8.75,8.67,8.50,8.58,8.42,...,10.0,10.0,8.58,89.92,0.12,0.0,Green,1950.0,2200.0,2075.0
2,Guatemala,1600 - 1800 m,NaN,NaN,NaN,8.42,8.50,8.42,8.42,8.33,...,10.0,10.0,9.25,89.75,0.00,0.0,NaN,1600.0,1800.0,1700.0
3,Ethiopia,1800-2200,oromia,2014,Natural / Dry,8.17,8.58,8.42,8.42,8.50,...,10.0,10.0,8.67,89.00,0.11,0.0,Green,1800.0,2200.0,2000.0
4,Ethiopia,1950-2200,guji-hambela,2014,Washed / Wet,8.25,8.50,8.25,8.50,8.42,...,10.0,10.0,8.58,88.83,0.12,0.0,Green,1950.0,2200.0,2075.0

In [22]:
coffee.loc[:20, "Region"]

0                    guji-hambela
1                    guji-hambela
2                             NaN
3                          oromia
4                    guji-hambela
5                             NaN
6                             NaN
7                          oromia
8                         oromiya
9     snnp/kaffa zone,gimbowereda
10                         oromia
11                      antioquia
12                      antioquia
13                           kona
14                        oromiya
15                      antioquia
16                       sulawesi
17                    yirgacheffe
18                         yunnan
19                          gedio
20                      antioquia
Name: Region, dtype: object