Now we will create a train test split and perform some EDA

# Test Split

In [1]:
import pandas as pd
import numpy as np

In [2]:
coffee_df = pd.read_csv('../data/coffee.csv')

In [3]:
coffee = coffee_df.copy()

In [4]:
coffee.head()

,Country_of_Origin,Processing_Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean_Cup,Sweetness,Cupper_Points,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Ethiopia,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,1950.0,2200.0,2075.0
1,Ethiopia,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0
2,Guatemala,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,1600.0,1800.0,1700.0
3,Ethiopia,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,1800.0,2200.0,2000.0
4,Ethiopia,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
coffee.Country_of_Origin.value_counts()

Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         44
Tanzania, United Republic Of     40
Thailand                         32
Uganda                           26
Nicaragua                        26
Kenya                            25
El Salvador                      21
Indonesia                        20
China                            16
Malawi                           11
Peru                             10
Name: Country_of_Origin, dtype: int64

In [7]:
## Make the split
coffee_train, coffee_test = train_test_split(coffee.copy(),
                                            shuffle=True,
                                            random_state=47,
                                            stratify=coffee['Country_of_Origin'])

In [9]:
coffee_test.Country_of_Origin.value_counts()

Mexico                          59
Colombia                        46
Guatemala                       45
Brazil                          33
Taiwan                          19
United States (Hawaii)          18
Honduras                        13
Costa Rica                      13
Ethiopia                        11
Tanzania, United Republic Of    10
Thailand                         8
Nicaragua                        7
Uganda                           7
Kenya                            6
El Salvador                      5
Indonesia                        5
China                            4
Malawi                           3
Peru                             2
Name: Country_of_Origin, dtype: int64