First let's load up some basic files

In [2]:
import pandas as pd
import numpy as np

Now let's load up our cleaned coffee data

In [3]:
coffee_df = pd.read_csv('../data/coffee.csv')

Creating a copy of the original

In [4]:
coffee = coffee_df.copy()

In [5]:
coffee.head()

,Country_of_Origin,Processing_Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean_Cup,Sweetness,Cupper_Points,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,Ethiopia,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,1950.0,2200.0,2075.0
1,Ethiopia,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0
2,Guatemala,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,1600.0,1800.0,1700.0
3,Ethiopia,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,1800.0,2200.0,2000.0
4,Ethiopia,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,1950.0,2200.0,2075.0

In [6]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1254 entries, 0 to 1253
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country_of_Origin     1254 non-null   object
 1   Processing_Method     1107 non-null   object
 2   Aroma                 1254 non-null   float64
 3   Flavor                1254 non-null   float64
 4   Aftertaste            1254 non-null   float64
 5   Acidity               1254 non-null   float64
 6   Body                  1254 non-null   float64
 7   Balance               1254 non-null   float64
 8   Uniformity            1254 non-null   float64
 9   Clean_Cup             1254 non-null   float64
 10  Sweetness             1254 non-null   float64
 11  Cupper_Points         1254 non-null   float64
 12  altitude_low_meters   1029 non-null   float64
 13  altitude_high_meters  1029 non-null   float64
 14  altitude_mean_meters  1029 non-null   float64
dtypes: float64(13), object(2)
memory usage: 147.1+ KB

Note that many rows are missing altitude information. We can either perform imputation or remove those rows. We will try removing those rows, while also keeping a data frame that retains those rows for later imputation if we wish.

In [7]:
coffee_dropnan = coffee.dropna(subset = ["altitude_low_meters", "altitude_high_meters", "altitude_mean_meters"], 
                                           axis = 0)
coffee_dropnan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1029 entries, 0 to 1253
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country_of_Origin     1029 non-null   object
 1   Processing_Method     954 non-null    object
 2   Aroma                 1029 non-null   float64
 3   Flavor                1029 non-null   float64
 4   Aftertaste            1029 non-null   float64
 5   Acidity               1029 non-null   float64
 6   Body                  1029 non-null   float64
 7   Balance               1029 non-null   float64
 8   Uniformity            1029 non-null   float64
 9   Clean_Cup             1029 non-null   float64
 10  Sweetness             1029 non-null   float64
 11  Cupper_Points         1029 non-null   float64
 12  altitude_low_meters   1029 non-null   float64
 13  altitude_high_meters  1029 non-null   float64
 14  altitude_mean_meters  1029 non-null   float64
dtypes: float64(13), object(2)
memory usage: 128.6+ KB

Several entries also contain outlier values for the altitudes that are extremely high. We will remove those.

In [14]:
print(coffee_dropnan.altitude_high_meters.mean())

1823.4795747327482

In [25]:
coffee_dropnan = coffee_dropnan.drop(coffee_dropnan[coffee_dropnan.altitude_mean_meters > 2500].index)

Now remove the countries with too few entries.

In [26]:
coffee_dropnan.Country_of_Origin.value_counts()

Mexico                          232
Guatemala                       151
Colombia                        146
Brazil                          104
Taiwan                           70
Honduras                         50
Costa Rica                       46
Tanzania, United Republic Of     37
Ethiopia                         30
Uganda                           24
Kenya                            23
Thailand                         20
El Salvador                      19
Indonesia                        17
Nicaragua                        17
China                            16
Malawi                           11
United States (Hawaii)            2
Peru                              2
Name: Country_of_Origin, dtype: int64

In [32]:
countries_nan = coffee_dropnan.Country_of_Origin.value_counts()

In [33]:
drop_list_nan = []

In [34]:
for count in countries_nan.index:
    if countries_nan[count] < 10:
        drop_list_nan.append(count)

In [35]:
drop_list_nan

[]

In [36]:
for item in drop_list_nan:
    coffee_dropnan.drop(coffee_dropnan[coffee_dropnan.Country_of_Origin == item].index, inplace=True)

In [37]:
print(coffee_dropnan.Country_of_Origin.value_counts())

Mexico                          232
Guatemala                       151
Colombia                        146
Brazil                          104
Taiwan                           70
Honduras                         50
Costa Rica                       46
Tanzania, United Republic Of     37
Ethiopia                         30
Uganda                           24
Kenya                            23
Thailand                         20
El Salvador                      19
Indonesia                        17
Nicaragua                        17
China                            16
Malawi                           11
Name: Country_of_Origin, dtype: int64

Saving the file.

In [38]:
coffee_dropnan.to_csv('../data/coffee_dropnan.csv',index = False)